@model EventTicket.Customer
@{
    ViewData["Title"] = "Event Ticket Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Customer</h1>
</div>

 <div class="row">
    <div class="col-md-3 border border-3 border-secondary rounded"> 
    <h4 class="mt-3 text-center"><span class="badge bg-secondary">Customer Info</span></h4>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @* <input type="hidden" asp-for="Id" /> *@
        <div class="mb-3">
            <label asp-for="AttendeeName" class="form-label"></label>
            <input asp-for="AttendeeName" class="form-control" />
            <span asp-validation-for="AttendeeName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="AttendeeEmail" class="form-label"></label>
            <input asp-for="AttendeeEmail" class="form-control" />
            <span asp-validation-for="AttendeeEmail" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="AttendeeSms" class="form-label"></label>
            <input asp-for="AttendeeSms" class="form-control" />
            <span asp-validation-for="AttendeeSms" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="NumberofTickets" class="form-label"></label>
            <input asp-for="NumberofTickets" class="form-control" />
            <span asp-validation-for="NumberofTickets" class="text-danger"></span>
        </div>
        <div class="mb-3 text-end">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
    </div>
 </div>

@if (Model !=null)
{
    <div name="QRCode">
        <h1 class="display-4">Congrats @Model.AttendeeName</h1>
        <p>Here is ticket QR code for the event</p>
        <label>TicketCode</label><br/>
        <input name="TicketCode" value="@Model.TicketCode"></input><br/>
        <img src="data:image;base64,@System.Convert.ToBase64String(Model.QRCode)" width="180" height="180"/>     
    </div>
}
</div>
